* {
    margin: 0;
    padding: 0;
}

.nav{
    background-color: cadetblue;
    height: 100px;
}

.nav_box{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
}

ul{
    list-style-type: none;
}

.nav_list li{
    display: inline;
    margin-left: 40px;
    font-size: 20px;
}

.nav_list-item{
    text-decoration: none;
    color: black;
}

.nav_list-item:hover{
    color: darkblue;
    /* text-decoration: underline; */
    padding: 0 10px 10px 0;
    border-bottom: 1px solid red;
    border-right: 1px solid red;
    margin-right: -11px;
}

.schoolPhotoBox{
    width: 630px;
    position: sticky;
    top: 0;
}

.schoolImg{
    opacity: 0.55;
}

.schoolImgInfo{
    position: absolute;
    font-size: 25px;
    padding: 10px;
    background-color: rgba(226, 207, 207, 0.8);
    border-radius: 10px;
}

.schoolInfo{
    top: 250px;
    left: 120px;
}

.busInfo{
    top: 300px;
    right: 100px;
}

.kidInfo{
    bottom: 20px;
    left: 100px;
}